<section ng-controller="blurbsCtrl">
	 <div style="height: 76px"></div>
 	 <div style="height: 4em"></div>
	
	<div class="container">
		<div class="row">
			<h6 class="blurbs-title">Latest Bookmarks</h6><br>
			<hr>
		</div>
		<div class="row" style="display: table; margin-bottom: 50px; width: 100%; ">
			<div align=center>
				<div style="display: table-cell; vertical-align: middle" id="latestBlurbsLeft">
					<img src="../images/left-arrow.png" class="blurbs-arrow">
				</div>
				<div class="container-container-container">
				<div class="container-container"  id="latestBlurbsContainer">
					<div class="card-container row" id="latestBlurbsCards" style="">
						<div class="" style="width: 150px; position: relative;margin-left: 25px;margin-bottom: 20px; display: inline-block" ng-repeat="blurb in latestBlurbs">
							<div class="card" style="min-height: 210px">
								<div class="card-header"><a ui-sref="blurb({id: blurb._id})">{{blurb.title}}</a><span class="text-12"><br>By<br><a ui-sref="profile({username: blurb.author.username})">{{blurb.author.username}}</a></span></div>
								<div class="card-body text-truncate" style="max-height: 100px;  "><span class="text-12" title="{{blurb.description}}">{{blurb.description}}</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="display: table-cell; vertical-align: middle" id="latestBlurbsRight">
				<img src="../images/right-arrow.png"  class="blurbs-arrow">
			</div>
			<hr>
			</div>
		</div>









				<div class="row">
			<h6  class="blurbs-title">Random Bookmarks</h6><br>
			<hr>
		</div>
		<div class="row" style="display: table; margin-bottom: 50px; width: 100%; ">
			<div align=center>
				<div style="display: table-cell; vertical-align: middle" id="randomBlurbsLeft"><img src="../images/left-arrow.png"  class="blurbs-arrow"></div>
				<div class="container-container-container" >
				<div class="container-container"  id="randomBlurbsContainer" >
					<div class="card-container row">
						<div class="" style="width: 150px; position: relative;margin-left: 25px;margin-bottom: 20px;" ng-repeat="blurb in randomBlurbs">
							<div class="card" style="min-height: 210px">
								<div class="card-header"><a ui-sref="blurb({id: blurb._id})">{{blurb.title}}</a><span class="text-12"><br>By<br><a ui-sref="profile({username: blurb.author.username})">{{blurb.author.username}}</a></span></div>
								<div class="card-body text-truncate" style="max-height: 100px;  "><span class="text-12"  title="{{blurb.description}}">{{blurb.description}}</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div style="display: table-cell; vertical-align: middle" id="randomBlurbsRight"><img src="../images/right-arrow.png"  class="blurbs-arrow"></div>
			<hr>
			</div>
		</div>


	</div>







<div style="height: 4em"></div>


</div>






		


</section>