
@media (min-width: 576px) { ... }


@media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }

.formItem{
	padding-top: 20px;
	padding-bottom: 20px;
}

.submitbutton{
	padding-top: 10px;
	padding-bottom: 10px;
}

.line{
	height: 1px;
	width: 100%;
	background-color: black;
}

.formItem{
	font-family: sans-serif;
}

.formItem h6{
	font-weight: 600;
	font-size: .8em;
}

.sign-up-caption{
	margin-top: 75px;
}

.sign-up-logo{
	width: 150px;
	height: 150px;
	margin-top: 100px;
	margin-bottom: 100px
}

.sign-up-title{
	text-align: center;
	margin-top: 150px;
}

.end-of-form{
	margin-bottom: 100px;
	height: 30px;
}

#create-event-button{
	height: 50px;
	border: 1px solid black;
	color: black;
	border-radius: 5px;
	background-color: white;
	transition: background-color .5s, color .2s;
}

#create-event-button:hover{
	background-color: black;
	color: white;
	cursor: pointer;
}

.serif-font{
	font-family: 'Georgia','Times New Roman', serif;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;

	display: flex;
	align-items: center;
}

.nav-link{
	cursor: pointer;
}

.errorBox{
	padding: 5px 5px 15px 5px;
	color: red;
	font-weight: 700;
}

.create-account{
	padding: 15px 15px;
}
.hide {
	opacity: 0;}

body{
background-image: linear-gradient( rgba(135,242,255,1) 102.5%, 0deg, rgba(255,255,255,1) -0.1% );
/*background-image: url('../images/background.png');*/
background-repeat: no-repeat;
background-position: right top;


}
div{
	color: black;
	
}

#tab-menu{
	min-width: 175px;
}

#home-tab{
	z-index: 99;
}


#tab-hamburger{
	display: none;
}


#myTabContent{
	background-color: white;
}

.comment-profile-img{
	display:inline-block;
	margin: 20px 20px 20px 0px; 
	border-radius: 15px;
}

.comment-text{
	display:inline-block
}

.inline-block {
	display: inline-block;
}

#aboutMeTextArea {
	width: 100%;
}

.float-right{
	float:right;
}

.fade-in{
	transition: opacity .3s ease-in-out;
}

.text-12 {
	font-size: 12px;
}

.grey{
	color: grey;
}

body{
	font-size: 14px;
}

#follow-user{
	border-radius: 5px;
	height: 25px;
	background-color: #007bff;
	color: white;
	border-color: #007bff;
	padding: 2px 10px 2px 10px;
	margin-left: auto;
	margin-right: auto;
	transition: background-color .2s ease-in-out;
	cursor: pointer;
}

#follow-user:hover{
	background-color: #0069d9;
}

.container-container-container{
	max-width: 1200px;
	overflow-y: hidden; 
	display: table-cell; 
	width: 800px; 
	position: relative; 
	height: 220px
}

.container-container{
	scroll-behavior: smooth;
	overflow-x: scroll;
	overflow-y: hidden;
	max-height: 250px; 
	max-width: 1000px;
	min-width: 200px;
	width: 800px;
	padding-bottom: 20px;
	padding-right: 20px;
	position: absolute
}

.card-container{
	overflow-x: hidden;
	overflow-y: hidden; height: 250px;
	min-width: 2000px;
	position: relative
}

@media only screen and (max-width: 634px){

	.btn{
		font-size = .6rem
	}
	
	.deleteCategoryButton,.edit-category-btn{
		display: inline-block;
	}

	#tab-hamburger {
		display: inline-block;
		float: right;
		color: white;
		width: 25px;
		height: 25px;
	}

	#home-tab { 
	display: inline-block;
	 }
	


	 #category-list{
		display:none;
	}
	

	.title-bar-20{
		height: 20px;
	}


}