<section ng-controller="registerCtrl" class="popUp">
  <div class="container" class="userForm">
  	<div class="justify-content-center">
  		<div class="col-sm-6 offset-sm-3">
  			<div class="sign-up-title serif-font"><h2>Never forget a link and its amazing content again when you use Blurb.</h2></div>
  		</div>
  		

  	</div>
<!--     
	<div class="row justify-content-center">
		<img src="/images/logo-black.png" class="sign-up-logo" alt="">
	</div> -->
	
	

	<div class="col-sm-4 offset-sm-4 sign-up-caption" align="center">Sign up for free</div>
<!-- 	<div class="line col-sm-6 offset-sm-3"></div> -->
    <form name="signUpForm" ng-submit="signUp()" novalidate>
      <div id="signUpForm">
        <div class='formInputs justify-content-center'>
          <div class="formItem col-sm-6 offset-sm-3">
          	<h6>First name:</h6>
            <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstname" required>
          </div>
          <div class="formItem col-sm-6 offset-sm-3">
          	<h6>Last Name:</h6>
            <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastname"  required>
          </div>
          <div class="formItem col-sm-6 offset-sm-3">
          	<h6>Username:</h6>
            <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" maxlength="18" required>
          </div>
          <div class="formItem col-sm-6 offset-sm-3">
          	<h6>Password:</h6>
            <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password"  required>
          </div>
          <div class="formItem col-sm-6 offset-sm-3">
            <h6>Email:</h6>
            <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" required>
          </div>
         <!--  <div class="formItem col-sm-6 offset-sm-3">
          	<h6>Profile Picture (Link to image)</h6>
          	<input type="url" id="image" name="image" class="form-control" data-ng-model="credentials.image" placeholder="http://www.yoururl.com/image.jpg">
          </div> -->
        </div>

      <div class="errorBox">
        <div ng-show="checkForError()" ng-repeat="message in errorMessage"  class="col-sm-6 offset-sm-3" align="center">
         {{message}}
        </div>
      </div>
		<div class="col-sm-6 offset-sm-3 end-of-form">
			<div class="submitbutton">
        		<button type="submit" ng-disabled="signUpForm.$invalid" class="clear col-sm-10 offset-sm-1" id="create-event-button" ng-click = "signUp()">Sign Up</button>
      		</div>
          <div class="create-account" align=center>
            <h6>Already have an account? <a ui-sref="signin">Log in</a></h6>
          </div>
      		
		</div>
      
        
          

      </div>
    </form>

  </div>

</section>