<section ng-controller="myBlurbsCtrl">
	<div style="height: 76px"></div>
	


<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<ul class="nav flex-column nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link" id="home-tab" data-toggle="tab" href="#add-category" role="tab" aria-controls="home" aria-selected="true" >Add Category</a>
			  </li>

			  <li class="nav-item" ng-repeat="category in categories">
			    <a class="nav-link" id="{{category.id}}-tab" data-toggle="tab" href="#{{category.name}}" role="tab" aria-controls="#{{category.id}}" aria-selected="true" >{{category.name}}</a>
			  </li>
			  <div>
			  </div>
			  
			</ul>
		</div>

		<div class="col-sm-9" ng-repeat="category in categories">
			
			<div class="tab-content" id="myTabContent">
			  	<div class="tab-pane fade" id="{{category.name}}" role="tabpanel" aria-labelledby="home-tab" ng-repeat="category in categories">
					<h1> {{category.name}} </h1> CATEGORY
					<a href="#" ng-click="collapseAll()">Collapse All</a>


					<div id="accordion">
					  <div class="card" ng-repeat="bookmark in category.bookmarks">
					    <div class="card-header" id="heading{{bookmark.title}}">
					      <h5 class="mb-0">
					        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{bookmark._id}}" aria-expanded="true" aria-controls="collapse{{bookmark._id}}">
					          {{bookmark.title}}
					        </button>
					      </h5>
					    </div>

					    <div id="collapse{{bookmark._id}}" class="collapse show" show aria-labelledby="heading{{bookmark.title}}" >
					      <div class="card-body">
					        {{bookmark.url}}
					        <br>
					        <br>
					        {{bookmark.description}}
					      </div>
					    </div>
					  </div>
					</div>
				</div>


				<div class="tab-pane fade active show" id="add-category" role="tabpanel" aria-labelledby="add-category-tab" ng-repeat="category in categories">
					<h1> Add Category </h1> CATEGORY


					<form name="addCategoryForm" ng-submit="newCategory()">
						<div id="addCategoryForm">
							<div >
								<div class="col-sm-10">
									<h6>Title</h6>
									<input type="text" id="title" name="title" class="form-control" ng-model="category.title" required>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>