<div class="card"  ng-repeat="link in relativelinks | orderBy: property:reverse | filter: searchContent">
					    <div class="" id="heading{{link.title}}">
					      <h5 class="mb-0" show-on-hover-title>
					        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{link._id}}" aria-expanded="true" aria-controls="collapse{{link._id}}">
					          {{link.title}}
					        </button>
							<div style="float:right; display:none">
					        <button class="btn btn-alert btn-md btn-grey" style="float: right" ng-click="deleteBlurbData(link._id,category.id)">Delete</button>
					        <button class="btn btn-alert btn-md btn-grey" style="float: right" ng-click="addSubLinkData(link._id, link.depth)">Add Sub-Link</button>
							</div>
					      </h5>
					    </div>

					    <div id="collapse{{link._id}}" class="collapse show" show aria-labelledby="heading{{link.title}}" >
					      <div class="card-body">
					        <a href="{{link.url}}" class="dark-link">{{link.url}}</a> 

					        <p style="float: right; font-size: .7em" >{{link.createdon}}</p>
					        <br>
					        <br>
					        {{link.description}}
								<br>
								<br>
					        	<div  ng-include="'/app/myblurbs/tree.html'" onload="relativelinks=link.relativelinks;countChildren(link.title)">

					      </div>
					    </div>
					  </div>
					</div>